/* .main-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
} */
.cart{
    
    width: 60%;
    margin-left:19%;

    
    
}
.name-container img{
    height: 80px;
    width: 80px;
}

.author-image img{
    border-radius: 50%;
}
.title h2 , .beginner, .mark{
    float: left;
}


/* .title{
    white-space: pre-wrap;
} */


