.main-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cart{
    height: 50%;
    width: 60%;
    margin-left:19%;
    margin-bottom:10%
    
}
.name-container img{
    height: 80px;
    width: 80px;
}

.author-image img{
    border-radius: 50%;
}
.title h2 , .beginner, a{
    float: left;
}

.title{
    white-space: pre-wrap;
}

